*.class
*.lst
*.log
*.lck


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

dist/
bin/

/.metadata
/.recommenders

.settings/

/at2/theOthers
at5/template/*

